/*@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); 
  src: url('webfont.eot?#iefix') format('embedded-opentype'), 
       url('webfont.woff2') format('woff2'), 
       url('webfont.woff') format('woff'), 
       url('webfont.ttf')  format('truetype'), 
       url('webfont.svg#svgFontName') format('svg'); 
}*/

@font-face {
    font-family: 'adineue-bold-webfont';
    src: url(fonts/adineue-bold-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-bold-webfont';
    src: url(fonts/yeezy_tstar-bold-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-heavy-webfont';
    src: url(fonts/yeezy_tstar-heavy-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-regular-webfont';
    src: url(fonts/yeezy_tstar-regular-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-light-webfont';
    src: url(fonts/yeezy_tstar-light-webfont.ttf)  format('truetype');
}

#page1.ui-page{
	background-color: #000;
/*	background: url(../img/download.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size:100% 100%;*/
}

h1 {
	text-align: center;
	color: #fff;
	/*opacity: 0.4;*/
	letter-spacing: 3px;
	font-size: 750%;
	padding: 0;
	line-height: 2%;
	font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
}

h4 {
	text-align: center;
	color: #fff;
	/*opacity: 0.4;*/
	font-size: 140%;
	letter-spacing: 3px;
	font-family: 'yeezy_tstar-light-webfont', sans-serif;
}

h2 {
	font-size: 300%;
	color: #fff;
	font-family: 'yeezy_tstar-light-webfont', sans-serif; 
}

h6 {
	color: #fff;  
	font-family: 'yeezy_tstar-light-webfont';
}

#clock {
	margin-top: 150px;
	text-align: center;
	font-family: 'yeezy_tstar-regular-webfont', sans-serif;
	color: #fff;
	/*opacity: 0.4;*/
	font-size: 370%;
	margin-left: -1%;
	line-height: 80%;
}

.ui-footer {
	border-style: none !important;
}

.ui-bar-b {
	background-color: #000 !important;
}

.ui-bar {
	z-index: 999 !important;
	height: 65px;
}



