@font-face {
    font-family: 'adineue-bold-webfont';
    src: url(fonts/adineue-bold-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-bold-webfont';
    src: url(fonts/yeezy_tstar-bold-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-heavy-webfont';
    src: url(fonts/yeezy_tstar-heavy-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-regular-webfont';
    src: url(fonts/yeezy_tstar-regular-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-light-webfont';
    src: url(fonts/yeezy_tstar-light-webfont.ttf)  format('truetype');
}

#page1.ui-page{
	/*background-color: #000;*/
	background: url(../img/Dream.Create.Conquer.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size:100% 100%;
}

#social {
	position: absolute;
	top: 3%;
	right: 0;
	width: 10%;
}

#social a {
	color: #fff !important;
	text-decoration: none;
	font-family: 'adineue-bold-webfont', sans-serif;
	font-size: 150%;
	padding: 10%;
	font-weight: 100;
}

#insta {
	width: 14%;
}

h1 {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	letter-spacing: 3px;
	font-size: 750%;
	padding: 0;
	line-height: 2%;
	font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
}

h4 {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	font-size: 140%;
	letter-spacing: 3px;
	font-family: 'yeezy_tstar-light-webfont', sans-serif;
}

h2 {
	font-size: 300%;
	color: #fff;
	font-family: 'yeezy_tstar-light-webfont', sans-serif; 
	opacity: 0.5;
}

h6 {
	color: #fff;  
	font-family: 'yeezy_tstar-light-webfont';
	opacity: 0.5;
}

#clock {
	margin-top: 100px;
	text-align: center;
	font-family: 'yeezy_tstar-regular-webfont', sans-serif;
	color: #fff;
	opacity: 0.5;
	font-size: 370%;
	margin-left: -1%;
	line-height: 80%;
}

.ui-footer {
	border-style: none !important;
}

.ui-bar-b {
	background-color: #000 !important;
}

.ui-bar {
	z-index: 999 !important;
	height: 65px;
}

#dreamPNG {
	margin-left: 40.5%;
	width: 15.5%;
	margin-top: 13%;
}

.ui-btn {
	border-style: none !important;
	font-family:'yeezy_tstar-light-webfont', sans-serif !important;
	color: #fff;  
}

.about {
	width: 14.5%;
	font-size: 10px;
	padding: 0;
	margin: 0 0 2% 41.75%;
}


@media screen and (orientation: portrait) {
    .ui-mobile .ui-page {
        min-height: 0 !important;
        max-width: 100%;
    }	

    body {
    	background-color: #000 !important;
    }

    #clock {
    	margin-top: 400px;
    }	

    #page1.ui-page {
    	margin-top: 35%;
    }

    #social {
		width: 15%;
	}

	#social a {
		font-size: 380%;
	}

    #insta {
    	width: 25%;
    }

    #dreamPNG {
		margin-left: 39.5%;
		width: 18.5%;
	}

    .about {
    	margin: 0 0 2% 40%;
    	width: 18%;

    }
}




